<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
</head>
<body>
    <div id="miApp">
        <ul>    
            <h1>{{ materia }}</h1>
            <input type="text" v-model="materia" placeholder="Ingrese el nombre de la materia">
            <li v-for="lenguaje in lenguajes">
               {{ lenguaje }}
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>