:root{
    --azul: #1e90ff;
    --blanco: #ffffff;
}

.body{
    background-color: var(--azul);
}
.h2{
    border-bottom: 2px solid var(--blanco);
}
.container{
    color: var(--blanco);
    background-color: var(--azul);
    padding: 15px;
}
.button{
    background-color: var(--blanco);
    color: var(--azul);
    border: 1px solid var(--azul);
    padding: 5px;
}